<!-- templates/departments.html -->
{% extends "base.html" %}

{% block content %}
<h1>Departments</h1>

<a href="{{ url_for('departments.create_department_page') }}" class="btn btn-info mt-2 mb-2">Create New Department</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Department Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for department in departments %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ department.department_name }}</td>
            <td>
                <a href="{{ url_for('departments.update_department', id=department.department_id) }}" class="btn btn-primary">Edit</a>
                <form action="{{ url_for('departments.delete_department', id=department.department_id) }}" method="post" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}