<!-- templates/create_employee.html -->
{% extends "base.html" %}

{% block content %}
<h1>Create Employee</h1>

<form action="{{ url_for('employee.create_employee') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="employee_fname">First Name</label>
        {{ form.employee_fname(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="employee_lname">Last Name</label>
        {{ form.employee_lname(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="employee_dept_id">Department</label>
        {{ form.employee_dept_id(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary", value="Save") }}
    <input type="submit" name="submit_and_add_another" value="Save and Add Another" class="btn btn-primary" />
</form>
{% endblock %}